{% extends 'base.html' %}
{% load static %}

{% block body_content %}

    {% include 'partials/breadcrumb.html' with pagetitle="Ogani Shop" pagecrumb="Shop" %}

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    {% include 'partials/shopsidebar.html' with colors=colors categories=categories latest_prod=latest_prod %}
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">

                                
                                {% for sop in  saleoffprods %}

                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="{{sop.image.url}}">
                                            <div class="product__discount__percent">-{{sop.calculate_percent_off}}%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a><i class="fa fa-heart addtowishlist" data-wishlistprodid="{{sop.id}}"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a>
                    <i class="fa fa-shopping-cart addtocart" data-pic="{{sop.image.url}}" data-name="{{sop.name}}" data-price="{{sop.current_price}}" data-pid="{{sop.id}}"></i>
                                                </a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>{{sop.category.cat_name}}</span>
                                            <h5><a href="#">{{sop.name}}</a></h5>
                                            <div class="product__item__price">${{sop.current_price}} <span>${{sop.price}}</span></div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                        
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>{{products.count}}</span> Product{{products.count|pluralize:"s"}} found </h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        {% if page.paginator%}
                            
                    {% for prod in page.object_list%}
                        
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{prod.image.url}}">
                                    <ul class="product__item__pic__hover">
                                        <li><a><i class="fa fa-heart addtowishlist" data-wishlistprodid="{{prod.id}}"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a>
                    <i class="fa fa-shopping-cart addtocart" data-pic="{{prod.image.url}}" data-name="{{prod.name}}" data-price="{{prod.current_price}}" data-pid="{{prod.id}}"></i>         
                                        </a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{prod.name}}</a></h6>
                                    <h5>${{prod.price}}</h5>
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                       
                {% endif %}
                       
                    </div>




                    <div class="product__pagination">
                {% for pagelink in page.adjusted_elided_pages %}                
                {% if pagelink == page.paginator.ELLIPSIS %} 
                <a href="#">{{pagelink}}</a> 

                {% else %}
                <a class="{% if page.number == pagelink %} activeforlink {% endif %} "

              href="?page={{pagelink}}">{{pagelink}}</a>   
                {% endif %}
                
            {% endfor %}
                    </div>


                    <p>Showing {{page.start_index}}–{{page.end_index}} of {{page.paginator.count}} results</p>

                 
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    {% endblock body_content %}